#header
{
    font-size : large;
    text-align : center;
    background-image: url("/static/ferme_bousquin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width : auto;
    height : 350px;
}

#body
{
    position:relative;
}
/*background-image: url("/static/photo_bousquin_vache.jpg");*/
.imgback
{
    position : absolute;
    top:0;
    left:0;
    display : block;
    
    background-image: url("/static/ferme_bousquin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*max-width: 100%;
    max-height: 100%;*/
    width : 85%;
    height : 1000px;
    opacity : 0.5;
    

}

#test2
{
    background-color : blue;
    color:blue;
}

#menu
{
    background-color : rgb(145, 248, 145);
}

/* Create four equal columns that floats next to each other */
.column_menu {
  float: left;
  width: 15%;
  height : 1000px;
}

.column_body {
  float: left;
  width: 85%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



